<!DOCTYPE html>

<html>

<head>
<title>updating a bar chart with d3.js (v4)</title>
<script src="https://d3js.org/d3.v4.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<style>
.radio{
	text-align: center;
}
.row{
	text-align: center;
}
</style>

<body>

<div class='container'>
	<div class='row'>
	<h2> US China Trade </h2>
				<p>Total import and export from 2015 to 2018</p>
					<div class='radio'>
						<label class='radio-inline'>
							<input type="radio" name="gender" value="import" onclick="optionChanged(this.value)"> 2015
						</label>
						<label class='radio-inline'>
							<input type="radio" name="gender" value="export" onclick="optionChanged(this.value)"> 2016
						</label>
						<label class='radio-inline'>
							<input type="radio" name="gender" value="export" onclick="optionChanged(this.value)"> 2017
						</label>
						<label class='radio-inline'>
							<input type="radio" name="gender" value="both" onclick="optionChanged(this.value)" checked > 2018
						</label>
					</div>
			<svg class='chart'>
			</svg>
	</div>
</div>
<script src="/static/js/app.js"></script>
</body>

            
</html>