body {
	background-color: #778899	
}
.arc text {
    font: 8px sans-serif;
    text-anchor: middle;
  }
  
  .arc path {
    stroke: #fff;
  }
  svg{
      text-align: center
  }
  
  .arc2 text {
    font: 10px sans-serif;
    text-anchor: middle;
  } 
  
  .arc2 path {
    stroke: #fff;
  }

  .area {
    fill: steelblue;
    clip-path: url(#clip);
  }
  
  .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }
  .bar {
	  fill: steelblue;
	}

	.bar:hover {
	  fill: brown;
  } 
  
  ::-webkit-scrollbar {
    display: none;
  } 

  .cards {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right:2%;
    margin-top:  3%;
    padding-bottom: 10%;
  }

  .card-header{
    margin-bottom:2%;
  }
  #bars{
  	background-color: gainsboro
  }
  .card-body{
    padding-left:5%;
    margin-top:1%;
    margin-bottom: 5%; 
    background-color: grey
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:grey;
    color: white;
    text-align: center;
  }

  .charter {
  	margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right:8%;
    margin-top:  0%;
    padding-bottom: 10%;
  }
    .cards {
      margin-left: 0%;
      margin-right: 5%;
      padding-left: 5%;
      padding-right: 8%;
      margin-top: 8%;
      padding-bottom: 10%;

    }