/* body {
	background-color: #778899	
} */
body {
  background-color: #005889;
background-image: radial-gradient(at 0 bottom,rgba(0, 54, 137, 0.7) 0,rgba(0, 54, 137, 0) 60%),radial-gradient(at 90% bottom,#006389 0,rgba(0, 99, 137, 0) 40%),radial-gradient(at 50% top,rgba(0, 111, 137, 0.6) 0,rgba(0, 111, 137, 0) 75%),radial-gradient(at right top,#004D89 0,rgba(0, 77, 137, 0) 57%);
background-repeat: no-repeat;
background-size: auto,auto,100% 1000px,100% 1000px;
color: #B5D9EC;
}

.card-header{
  margin-bottom:2%;
}

.cards {
  margin-left: 0%;
  margin-right: 2%;
  padding-left: 2%;
  padding-right: 8%;
  margin-top: 8%;
  padding-bottom: 10%;

}
#bars{
  background-color: gainsboro
 
}
/* h3{
  background-color: gainsboro;
  display: block
} */

.card-body{
  padding-left:5%;
  margin-top:1%;
  margin-bottom: 5%; 
  background-color: grey
}

::-webkit-scrollbar {
  display: none;
} 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:grey;
  color: white;
  text-align: center;
}

.charter {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right:8%;
  margin-top:  0%;
  padding-bottom: 10%;
}


div.tooltip {	
  position: absolute;			
  text-align: center;	
      
  width: 15%;					
  height: 10%;					
  padding: 2px;		
  margin: 1px;		
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

.cards {
  margin-left: 2%;
  margin-right: 5%;
  padding-left: 0%;
  padding-right:2%;
  margin-top:  3%;
  padding-bottom: 10%;
}

/* PIE CHART  */
.arc text {
    font: 15px sans-serif;
    text-anchor: middle;
  }
.arc:hover{
	  fill: brown;
  } 
  .arc path {
    stroke: #fff;
  }
  svg{
      text-align: center;
      
  }
  
  .arc2 text {
    font: 15px sans-serif;
    text-anchor: middle;
  } 
  
  .arc2 path {
    stroke: #fff;
  }

  .area {
    fill: steelblue;
    clip-path: url(#clip);
  }
  
  .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }

  /*BAR CHARTS */
  .bar {
	  fill: steelblue;
	}

	.bar:hover {
	  fill: red;
  } 
  





    
