.arc text {
    font: 8px sans-serif;
    text-anchor: middle;
  }
  
  .arc path {
    stroke: #fff;
  }
  svg{
      text-align: center
  }
  
  /* .arc2 text {
    font: 10px sans-serif;
    text-anchor: middle;
  } */
  
  /* .arc2 path {
    stroke: #fff;
  } */

  .area {
    fill: steelblue;
    clip-path: url(#clip);
  }
  
  .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }
  .bar {
	  fill: steelblue;
	}

	.bar:hover {
	  fill: brown;
	}