<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Datatronics : Trade Wars - China</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-sm  navbar-dark bg-dark">
        <a href="#"> <span class="navbar-brand ml-4 mb-0 h0">Datatronics</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Plots                                   
                        </a> -->
                        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Stats</a>
                            <a class="dropdown-item" href="#">Pies</a>

                        </div> -->
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Stats<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">HS Code Search</a>
                </li>
            </ul>
        </div>
</nav>
<!--start of cards-->
<div class = "container-fluid"> 
  <div class = row>
        <!--selector-->
        <div class ="cards col-md-2" id= "import-pie">
            <!-- <div class="card text-black bg-light mt-3 mb-1 mr-3"  style="max-width:100%;">             
                <div class="card-body" > </div>
            </div>  -->
        </div>
        <!--end selector-->
        <!--Stats-->
        <div class="col-md-6">
            <div class="card text-black bg-light mt-3 mb-1 mr-2"  style="max-width:100%;">             

            </div>
            <div class = "card bg-light text-white text-wrap small"  >
              <div class="card-header"> 
                <div class="btn-toolbar  " role="toolbar" aria-label="Toolbar with button groups">
                  
                      <input type="button" value="2015" onclick="optionChanged(this.value)" ></input>
                      <input type="button" value="2016" onclick="optionChanged(this.value)" ></input>
                      <input type="button" value="2017" onclick="optionChanged(this.value)" ></input>
                      <input type="button" value="2018" onclick="optionChanged(this.value)"></input>
                    </div>
                  <!-- <input id= "search" class="form-control" type="text" placeholder="Search" aria-label="Search">                     -->
                </select>    
              </div>
              <div class="card-body" id="bars"> </div>
            </div>
        </div>  
          <!--END Charterers Stats-->
          <div class ="cards col-md-2" id="export-pie">
            <!-- <div class="card mt-3 mb-3 pr-3 mr-2"  style="max-width:100%;">             
                <div class = "card-body " ></div>
            </div>  -->
          </div>            
  
  </div> <!--end 1st row-->
</div>
<div class = "container-fluid">
    <div class = row>
        <div class ="col-md-12">
            <div class="card text-black bg-secondary mt-1 mb-3"  style="max-width:100%;">
                <div class = "card-body" id= "plot"></div>
                
                <div class="card text-black bg-secondary mt-1 mb-3"  style="max-width:100%;">
                place holder
                </div> 
              </div>    
          </div> 
<!--end of cards-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <!-- <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>
     -->
     <script src="//d3js.org/d3.v5.min.js"></script>
     <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
     <!-- <script src="../static/js/app.js"></script> -->
     <script src="../static/js/app.js"></script>

     <!-- <script src="../static/js/pie.js"></script>  -->
    <!-- <script src="../static/js/bars.js"></script> -->
    

     <!-- <script src="../static/js/pie.js"></script> -->
     <script src="../static/js/groupbar.js"></script>
</body>

